/********************************************
    GLOBAL
********************************************/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

    --color-dark: #04071B;
    --color-light: #F4EFDC;
    --color-accent: #2E45ED;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(/assets/icons/materialicons-regular-webfont.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('/assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
        url('/assets/fonts/roboto-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('/assets/fonts/roboto-bold-webfont.woff2') format('woff2'),
        url('/assets/fonts/roboto-bold-webfont.woff') format('woff');
}

body {
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 1.5;
    font-size: 1.2rem;
    background: var(--color-dark);
    color: var(--color-light);
}

canvas {
    position: absolute;
    display: block;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-size: clamp(30px, 3vw, 50px);
    color: var(--color-accent);
    margin: 5px 20px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--color-dark);
}

::-webkit-scrollbar-thumb {
    background: var(--color-light);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-accent);
}

/********************************************
    COMPONENTS
********************************************/

.card {
    padding: 15px;
    margin: 10px;
    border: 2px solid var(--color-accent);
    border-radius: 20px;
}

.link-chip {
    display: flex;
    column-gap: 5px;
    align-items: center;
    margin: 5px;
    padding: 3px 9px;
    border-radius: 20px;
    border: none;
    background-color: var(--color-light);
    color: var(--color-dark);
    font-size: 16px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    max-width: 450px;
    border-radius: 20px;
    background-color: var(--color-dark);
    border: 2px solid var(--color-accent);
    color: var(--color-light);
    text-align: center;
    padding: 6px 14px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 0;
    right: 105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip:active .tooltiptext {
    visibility: visible;
}

/********************************************
    NAVIGATION
********************************************/

.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 3px solid var(--color-accent);
    cursor: pointer;
    position: absolute;
}

.nav-button > span {
    color: var(--color-light);
    font-size: 36px;
}

.nav-button.left {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-left: 20px;
}

.nav-button.up {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}

.nav-button.right {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-right: 20px;
}

.nav-button.down {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
}

.nav-button:hover {
    background-color: var(--color-accent);
}

.navbar {
    display: none;
    left: 0;
    position: relative;
    height: 70px;
    background-color: var(--color-dark);
}

.navbar.home {
    top: 0;
    width: calc(100% - 2px);
}

.navbar.home > a:first-of-type {
    /* place in the center left of the navbar */
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.navbar.home > a:last-of-type {
    /* place in the center of the navbar */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar.aboutme {
    bottom: 0;
    width: calc(100% - 2px);
}

.navbar.aboutme > a:first-of-type {
    /* place in the center left of the navbar */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar.projects {
    top: 0;
    align-items: center;
    justify-content: space-between;
}

.navbar.gallery {
    top: 0;
    left: 2px;
    align-items: center;
    justify-content: space-between;
}

.navbar__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin: 10px;
}

.navbar__button > span {
    color: var(--color-light);
    font-size: 40px;
}

.navbar__button > span:hover {
    color: var(--color-accent);
}

/********************************************
    HOME PAGE
********************************************/

.home__page {
    position: relative;
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
}

.cartouche {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-left: 20px;
    font-size: clamp(18px, 2vw, 20px);
    border: 2px solid var(--color-light);
    border-right: none;
    border-bottom: none;
    border-collapse: collapse;
}

.cartouche__tip {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px;
    font-size: clamp(10px, 1vw, 12px);
}

.cartouche__logo {
    width: clamp(150px, 20vw, 250px);
}

.cartouche td {
    position: relative;
    text-align: center;
    border: 2px solid var(--color-light);
    border-right: none;
    border-bottom: none;
    padding: 20px;
}

/********************************************
    ABOUT ME PAGE
********************************************/

.aboutme__page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: calc(100vw - 20px);
    position: relative;
}

.aboutme__body {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 5px);
}

.aboutme__bio {
    width: clamp(450px, 40vw, 700px);
    padding: 20px;
}

.aboutme__skills-tools {
    width: clamp(400px, 40vw, 700px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;

}

.aboutme__chip-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}
.aboutme__chip {
    margin: 5px;
    padding: 6px 14px;
    border-radius: 20px;
    border: none;
    background-color: var(--color-accent);
    color: var(--color-light);
}

.aboutme__links {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

/********************************************
    PROJECTS PAGE
********************************************/

.projects__page {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - 20px);
    position: relative;
}

.projects__body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}

.projects__projects-list {
    display: flex;
    flex-direction: column;
    height: inherit;
    overflow-y: scroll;
    overflow-x: hidden;
    align-items: center;
    padding-bottom: 100px;
}

.projects__body::-webkit-scrollbar {
    position: absolute;
    left: 0;
}

.project-card {
    display: flex;
    flex-direction: row;
    height: 500px;
    width: clamp(400px, 75vw, 1200px);
}

.project-card.reversed {
    flex-direction: row-reverse;
}

.project-card__description {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.project-card__description > p {
    overflow-y: scroll;
}

.project-card__image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.project-card__image.mobile {
    display: none;
}

.project-card__image img {
    max-height: 100%;
    max-width: 100%;
}

/********************************************
    GALLERY PAGE
********************************************/

.gallery__page {
    display: flex;
    flex-direction: column;
    left: 20px;
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
    position: relative;
}

#image-gallery {
    padding-right: 20px;
    width: 88%;
    overflow-y: scroll;
    overflow-x: hidden;
    columns: 3;
}

#image-gallery > div {
    padding: 5px;
    width: 100%;
}

#image-gallery > div > img {
    border: 2px solid transparent;
    border-radius: 10px;
    max-width: 100%;
}

#image-gallery > div > img:hover {
    border-color: var(--color-accent);
    opacity: 0.7;
    cursor: pointer;
}

#gallery-popup__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

#gallery-popup__container {
    position: relative;
}

#gallery-popup__image {
    display: block;
    max-width: 90vw;
    max-height: 90vh;
    object-fit: contain;
    border-radius: 20px;
}

#gallery-popup__info {
    position: absolute;
    max-width: 100%;
    bottom: 0;
    left: 0;
    padding: 8px 16px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: start;
    line-height: 1.5;
    color: var(--color-light);
    font-size: 20px;
}

#gallery-popup__tag-year {
    color: var(--color-accent);
}


/********************************************
    SMALL SCREENS
********************************************/

@media only screen and (max-width: 768px) {
    .nav-button {
        display: none;
    }
    .navbar {
        display: block;
    }

    .navbar.projects {
        display: flex;
    }

    .navbar.gallery {
        display: flex;
    }

    .projects__page > h1 {
        display: none;
    }
    .project-card {
        height: auto;
    }
    
    .project-card.reversed {
        flex-direction: row;
    }

    .project-card__image.mobile {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .project-card__image img {
        max-height: 300px;
        max-width: 100%;
    }

    .project-card__image {
        display: none;
    }

    .aboutme__body {
        flex: 1;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: scroll;
        scrollbar-color: var(--color-accent);
        align-items: start;
        padding-bottom: 100px;
    }

    .aboutme__bio {
        width: 75%;
    }

    .aboutme__skills-tools {
        align-items: start;
    }

    .aboutme__chip-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }

    .gallery__page > h1 {
        display: none;
    }

    #image-gallery {
        padding-right: 20px;
        width: 90%;
        columns: 2;
    }

    .tooltip .tooltiptext {
        left: 105%;
    }
}

/********************************************
    LARGE SCREENS
********************************************/

@media only screen and (min-width: 1200px) {
    #image-gallery {
        padding-right: 20px;
        width: 92%;
        columns: 4;
    }
}